/* Main CSS: v1.0
   License: none (public domain)
*/

/** Navigation Info  **/
#nav {
    height: 10vh;
    background-color: rgba(17, 17, 17, 0.8);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
  }
  
  .nav_logo {
    position: relative;
    width: 50px;
    top: 25%;
    right: -5%;
    height: 27px;
    width: 35px;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .nav_logo-i {
    color: #EA7125;
    font-size: 2.2em;
    animation-duration: 1s;
    animation-name: nav-appear;
  }
  
  @keyframes nav-appear {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 100%;
    }
  }
  
  .nav_btn {
    position: absolute;
    top: 28%;
    right: 5%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .top {
    animation-duration: 0.8s;
    animation-name: loading;
  }
  
  .middle {
    animation-duration: 1.3s;
    animation-name: loading;
  }
  
  .bottom {
    animation-duration: 1.6s;
    animation-name: loading;
  }
  
  @keyframes loading {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  .nav_btn:hover {
    opacity: 0.7;
  }
  
  .nav_btn.active {
    position: absolute;
  }
  
  .nav_btn.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #EA7125;
  }
  
  .nav_btn.active .middle {
    opacity: 0;
    background: #EA7125;
  }
  
  .nav_btn.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #EA7125;
  }
  
  .nav_btn span {
    background: #EA7125;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  
  .nav_btn span:nth-of-type(2) {
    top: 11px;
  }
  
  .nav_btn span:nth-of-type(3) {
    top: 22px;
  }
  
  /** Opened Navigation Menu  **/
  .nav_overlay {
    background-color: #1E252B;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    z-index: 1;
  }
  
  .nav_overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
    position: fixed;
  }
  
  .nav_overlay.open li {
    -webkit-animation: fadeInRight 0.5s ease forwards;
    animation: fadeInRight 0.5s ease forwards;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  
  .nav_overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .nav_overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  
  .nav_overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  
  .nav_overlay .nav_overlay-container {
    position: relative;
    height: 70%;
    top: 67%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
  .nav_overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  
  .nav_overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  
  .nav_overlay ul li a {
    display: block;
    position: relative;
    color: #f0fff0;
    text-decoration: none;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
  }
  
  .nav_overlay ul li a:hover:after,
  .nav_overlay ul li a:focus:after,
  .nav_overlay ul li a:active:after {
    width: 100%;
  }
  
  .nav_overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #f0fff0;
    -webkit-transition: 0.35s;
    transition: 0.35s;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
  
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
  
    100% {
      opacity: 1;
      left: 0;
    }
  }
  
  /** Header Info  **/
  #header_tag {
    background-color: #111111;
    color: #F3F4F6;
    height: 100vh;
    animation-duration: 1.1s;
    animation-name: nav-appear;
  
  }
  
  .header_word-container {
    padding-top: 20%;
    width: 80%;
    height: 100%;
   
  }
  
  .header_word-container--two {
    padding-top: 12%;
  }
  
  .kobe {
    top: 25%;
    position: relative;
  }
  
  .header_word-container--word {
    font-family: "Open Sans", sans-serif;
    font-size: 9vw;
    letter-spacing: 2px;
    font-weight: 100;
    margin-left: 25px;
    margin: 0 1em; /*attention*/
  }
  
  .line_space {
    margin-bottom: 10px;
    line-height: 60px;
  }
  
  .scroll_down-container {
    font-size: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    animation-name: peekaboo;
    animation-duration: 2s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    overflow: hidden;
    cursor: pointer;
  }
  
  .scroll_down-desc {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 5px;
    font-weight: 50;
  }
  
  @keyframes peekaboo {
    from {
      top: 80%;
      opacity: 0;
    }
  
    to {
      top: 85%;
      opacity: 1;
    }
  }
  
  /** About Info  **/
  #about {
    background-color: #F3F4F6;
    padding-top: 20px;
    padding-bottom: 150px;
  }
  
  .section_banner {
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    margin: 10vh 0;
  }
  
  .line {
    height: 2px;
    width: 0;
    position: relative;
    top: -12px;
    display: inline-block;
    background-color: #f0fff0;
  }
  
  .line_b {
    background-color: #111111;
  }
  
  .section_title {
    font-family: "Open Sans", sans-serif;
    font-size: 7vw;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .about_container {
    text-align: center;
  }
  
  .about_container-img {
    width: 100%;
    max-width: 500px !important;
    transition: 1s ease all;
    border-radius: 10px;
  }
  
  .about_container-words {
    font-family: "Open Sans", sans-serif;
    padding: 0 10px;
    line-height: 3em;
    text-align: left;
  }
  
  /** Projects Info  **/ 
  #projects {
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .large_projects_container {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  
  .projects_container {
    padding-bottom: 30px;
    max-width: 30em;
    margin: 0 auto;
    border-radius: 2%;
    margin-bottom: 100px;
    box-shadow: 4px 11px 12px rgba(0, 0, 0, 0.3), 0 20px 40px rgba(0, 0, 0, 0.1);
  }
  
  .projects_container div {
    padding: 10px;
  }
  
  .project_desc img {
    text-align: center;
  }
  
  .projects_title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .projects_title h3 {
    padding: 30px 0 0 0;
    font-size: 3em;
    text-align: center;
  }
  
  .projects_title .hometown_title{
    height:65px;
  }
  
  
  
  .projects_title-one {
    font-family: 'Open Sans', sans-serif;
  }
  
  .projects_title-two {
    font-family: 'Open Sans', sans-serif;
  }
  
  .projects_title-three {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px !important;
  }
  
  .projects_title-four {
    font-family: 'Open Sans', sans-serif;
  }
  
  .projects_desc-button_container {
    width: 100%;
    text-align: center;
  }
  
  
  
  
  .projects_container-lora {
    background-color:  rgba(245, 199, 26, 0.12);
  }
  
  .projects_container-dosxan {
    background-color: rgba(150, 40, 27, 0.12);
  }
  
  .projects_container-hometown {
    background-color: rgba(34, 34, 34, 0.12);;
  }
  
  
  .projects_desc-tech--white {
    font-size: 17px;
    font-style: italic;
    color: #f0fff0;
  }
  
  .projects_desc-tech--dark {
    font-size: 17px;
    font-style: italic;
    color: #696969;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1em "Roboto Slab", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 300px;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .draw-border {
    box-shadow: inset 0 0 0 4px #580000;
    color: #580000;
    background-color: rgba(88, 0, 0, 0.2);
    transition: color 0.25s 0.0833333333s;
    position: relative;
    margin: 0 auto;
    max-width: 350px;
    width: 88%;
  }
  
  .third-btn {
    box-shadow: inset 0 0 0 4px rgba(34, 34, 34, 0.9);
    color: rgba(34,34, 34, 1);
    background-color: rgba(34, 34, 34, 0.2);
    transition: color 0.25s 0.0833333333s;
    position: relative;
    margin: 0 auto;
  }
  
  .fourth-btn {
    box-shadow: inset 0 0 0 4px rgba(14, 10, 1, 0.9);
    color: rgba(14, 10, 1, 0.9);
    background-color: rgba(226, 164, 1, 0.2);
    transition: color 0.25s 0.0833333333s;
    position: relative;
    margin: 0 auto;
  }
  
  .draw-border--one {
    margin-bottom: 20px;
  }
  
  .draw-border::before,
  .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  
  .draw-border::before {
    border-bottom-width: 5px;
    border-left-width: 5px;
  }
  
  .draw-border::after {
    border-top-width: 5px;
    border-right-width: 5px;
  }
  
  .draw-border:hover {
    color: #f8f8ff;
  }
  
  .draw-border:hover::before,
  .draw-border:hover::after {
    border-color: #f8f8ff;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .header_container-info {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #info {
    background-color: #f8f8ff;
  }
  
  .info {
    position: relative;
    top: -10%;
  }
  
  .info-dosxan {
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    text-align: center;
  }
  
  .info--dosxan {
    position: relative;
    bottom: 13%;
    line-height: 2em;
  }
  
  
  #lora_header {
    height: 100vh;
    z-index: 100 !important;
    color: #f0fff0;
    animation-duration: 1.1s;
    animation-name: nav-appear;
  }
  
  #dosxan_header {
    height: 100vh;
    z-index: 100 !important;
    color: #f0fff0;
    animation-duration: 1.1s;
    animation-name: nav-appear;
  }
  
  .info-lora {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    bottom: 13%;
    position: relative;
    line-height: 1.5em;
  }
  
  .info-top {
    padding-top: 100px;
  }
  
  .info-top h1 {
    text-transform: uppercase;
    letter-spacing: 2.6px;
    text-align: center;
    font-size: 2.3em;
    font-family: "Open Sans", sans-serif;
    
  }
  
  .info-middle {
    padding: 50px 0 100px 0;
    margin: 25px 0 100px 0;
    line-height: 3em;
    position: relative;
  }
  .info-middle h1 {
    text-align: center;
    font-size: 2.3em;
    font-family: "Open Sans", sans-serif;
    padding: 30px 15px;
  }
  
  .info-middle h2 {
    text-align: left;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    color: #383838;
    padding:0 25px;
  }
  
  .info-middle img {
    position: relative;
    top: 10%;
    width: 100%;
    padding:25px;
    margin: 0 auto;
  }
  
  .info-bottom {
    padding: 0 0 100px 0;
    line-height: 3em;
    text-align: center;
    margin-top: 150px;
    width: 100%;
    left: 0;
  }
  
  .info-bottom h1 {
    text-align: center;
    font-size: 2.3em;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 30px;
  }
  
  .info-bottom h2 {
    text-align: left;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    padding: 0 30px 75px 30px;
    color: #383838;
  }
  
  .info-bottom img {
    position: relative;
    padding-bottom: 30px;
    max-width: 300px;
  }
  
  .tech {
    text-transform: uppercase;
    font-size: 20px !important;
    text-align: left !important;
    font-weight: bolder;
    position: relative;
  }
  
  .info_btn-container {
    text-align: center;
    padding: 0 0 50px 0;
  }
  
  .info_btn-container a {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 20px;
    text-decoration: underline;
    color: #111111;
    font-size: 1.6em;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 5px;
  }
  
  .info_btn-container a:hover {
    color: #580000;
    transition: 0.2s ease all;
  }
  
  /** Contact Info  **/  
  #contact {
    background-color: #111111;
    color: #f0fff0;
    height: 100vh;
  }
  
  .section_banner-contact {
    padding-bottom: 0;
  }
  
  .contact_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  
  .contact_me {
    font-family: "Open Sans", sans-serif;
    font-size: 7vw;
    letter-spacing: 2px;
    font-weight: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 10px 70px 10px;
    align-items: center;
    width: 80%;
  }
  
  .email {
    text-decoration: none;
    background-color: rgba(88, 0, 0, 0.3);
    padding: 10px;
    margin: 40px 0;
    color: #f0fff0;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    max-width: 10em;
    border: 5px solid #580000;
  }
  
  .email:focus {
    background-color: #111111;
  }
  
  .email:hover {
    background-color: #580000;
  }
  
  .social {
    margin: 40px 0;
  }
  
  .social i {
    margin: 10px 15px;
  }
  
  .social_link {
    color: #f0fff0;
  }
  
  .social_link:focus {
    color: #f0fff0;
  }
  
  .social i:hover {
    color: #580000;
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }
  
  .blog_name {
    line-height: 15vh;
  }
  
  @media only screen and (max-width: 580px) {
    .about_container-words {
  
      margin-top: 50px;
      padding: 0 12px;
      line-height: 2.7em !important;
    }
  
    .btn {
      font-size: 14px;
    }
    #about{
      padding-bottom: 80px;
    }
    #projects{
      padding-bottom: 30px;
    }
  }
  
  /** Media Queries Info  **/
  @media only screen and (max-width: 500px) {
    .info_btn-container a {
      font-size: 1em;
      padding: 0 10px;
    }
  
    .info-middle{
      padding-bottom: 20px;
  
    }
    .info-middle-words{
      padding: 0;
    }
  
    .info-middle img {
      position: relative;
      padding-bottom: 25px;
      max-width: 365px !important;
    }
  
    .info-bottom{
      padding-bottom: 0px;
    }
    
    .info-bottom img {
      position: relative;
      top: 10%;
      left: 0%;
      padding-bottom: 75px;
      max-width: 365px !important;
    }
    .info-top h1 {
      text-transform: uppercase;
      letter-spacing: 2.6px;
      text-align: center;
      font-size: 2.3em;
      font-family: "Open Sans", sans-serif;
  
    }
    .info-top{
      padding-top:160px;
    }
    .about_container-words {
      margin-top: 50px;
      padding: 0 28px;
    }
  }
  
  @media only screen and (min-width: 580px) {
    /*...........ABOUT..............*/
  
    .about_container-words {
      margin-top: 50px;
      padding: 0 50px;
    }
  
    /*...........ABOUT..............*/
  
    /*...........HEADER..............*/
    .header_word-container {
      padding-top: 13%;
    }
  
    .header_word-container--word {
      font-size: 6vh;
    }
  
    /*...........HEADER..............*/
    .social_link {
      padding: 0 5px;
    }
  
    .line_space {
      line-height: 100px;
    }
    
  }
  
  @media only screen and (min-width: 700px) {
  
    /*...........ABOUT..............*/
    .about_container {
      margin-right: 25px;
      margin-left: 25px;
      max-width: 80em;
      text-align: center;
    }
  
    .about_container-words {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
  
    /*...........ABOUT..............*/
    /*...........CONTACT..............*/
    .contact_container {
      margin-left: auto;
      margin-right: auto;
    }
  
    .social i {
      margin: 10px 15px;
    }
  
    /*...........CONTACT..............*/
    .line_space {
      line-height: 100px;
    }
  }
  
  @media only screen and (min-width: 800px) {
  
    /*...........HEADER..............*/
    .header_word-container {
      padding-top: 12%;
    }
  
    .header_word-container--two {
      font-size: 7vh;
      line-height: 2em;
    }
  
    /*...........HEADER..............*/
  
    .social i {
      margin: 10px 20px;
    }
  
    .line_space {
      line-height: 100px;
    }
  
    .info-top h2 {
      margin: 0 !important;
      transition: 1s ease all;
      padding: 90px 0 0 90px;
    }
  
    .info-top h1 {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 4em;
      transition: 1s all ease;
      padding-bottom: 30px;
    }
  }
  
  @media only screen and (min-width: 960px) {
   
    /*...........HEADER..............*/
    .header_word-container {
      padding-top: 9%;
    }
  
    .header_word-container--word {
      font-size: 8vh;
    }
  
    .section_title {
      font-size: 3em;
    }
    .section_title-long{
      font-size: 2em
    }
  
    /*...........HEADER..............*/
    /*...........ABOUT..............*/
  
    .about_container-img {
      max-width: 80%;
    }
  
    .about_container-words {
      max-width: 80%;
      margin: 0 auto;
      line-height: 50px;
      padding-top: 50px;
    }
  
    /*...........ABOUT..............*/
    /*...........CONTACT..............*/
    .contact_me {
      font-size: 4em;
    }
  
    .social i {
      transition: all 1s ease;
      margin: 10px 20px;
    }
  
    /*...........CONTACT..............*/
    .info-top h1 {
      padding-bottom: 50px;
    }
  
    .info-middle {
      display: flex;
      margin-bottom: 100px;
      margin-left: 100px !important;
    }
  
    .info-middle img {
      top: 20%;
      left: 0%;
    
    }
  
    .info-middle div {
      flex: 2;
      max-width: 888px;
    }
  
    .info-middle-words {
      display: flex;
      flex-direction: column;
      flex: 2;
      padding: 25px 15px 0 50px;
    }
  
    .info-bottom {
      margin-top: 150px;
      display: flex;
    }
  
    .info-bottom div {
      flex: 2;
    }
  
    .info-bottom-words {
      flex-direction: column;
      display: flex;
      padding: 0 50px;
    }
  
    .info_btn-container {
      text-align: center;
      padding: 50px 0 50px 0;
    }
  }
  
  @media only screen and (min-width: 1200px) {
  
    /*...........HEADER..............*/
    .header_word-container {
      padding-top: 6%;
      
    }
  
    .header_word-container--word {
      font-size: 9vh;
    }
  
    /*...........HEADER..............*/
  
    /*...........ABOUT..............*/
    .about_container {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      max-width: 150em;
    }
  
    .about_container-img {
      max-width: 65%;
    }
  
    .about_container-words {
      padding: 0;
      margin: 0;
      line-height: 50px;
    }
  
    /*...........ABOUT..............*/
    /*...........PROJECTS..............*/
    .large_projects_container {
      display: flex;
      flex-wrap: wrap;
    }
  
    .projects_container:nth-of-type(3) {
      margin-top: 90px;
    }
  
    .projects_container:nth-of-type(4) {
      margin-top: 90px;
    }
  
    /*...........PROJECTS..............*/
  }
  
  @media only screen and (min-width: 1490px) {
    .projects_container:nth-of-type(3) {
      margin-top: 0;
    }
  
    .about_container-words {
      line-height: 65px;
    }
  }
  
  @media only screen and (min-width: 1970px) {
    .projects_container:nth-of-type(4) {
      margin-top: 0;
    }
  }
  
  /*# sourceMappingURL=main.css.map */